@blue: #204080;
@middleBlue: #2989d8;
@bluntBlue: #0070b0;
@darkBlue: #103060;
@orange: #ffb600;
@brown: #994422;
@darkBrown: #66270f;
@quote: #103060;
@quoteBg: #fff0d0;
@shadow: #999999;
@openSpeed: 0.4s;

// Font                     Used?
// ------------------------------
// Dancing Script           YES
// Sriracha                 YES
// Rochester                NO
// Stalemate                NO
// Italianno                NO
// Lobster                  NO
// Petit Formal Script      NO
// Allura                   NO
// Courgette                NO
// Marck Script             NO
// Parisienne               NO


/*** Common ***/
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

html {
    margin: 0;
	padding: 0;
}

body {
    background-image: url(../images/margareta_field_bg_75.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 60%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: @darkBlue;

    font-size: 14px;

    margin: 0;
    padding: 0;
}

h2 {
    //font-family: "Petit Formal Script", cursive;
    //font-size: 28px;

    font-family: "Dancing Script", cursive;
    // font-family: "Rochester", cursive;
    // font-family: "Allura", cursive;
    // font-family: "Courgette", cursive;
    // font-family: "Marck Script", cursive;
    // font-family: "Parisienne", cursive;
    // font-family: "Stalemate", cursive;
    font-size: 45px;
    //font-weight: bold;

    margin: 0 0 20px;
}

.tm-container { background-color: @blue; }

nav {
    border-radius: 0 !important;
    border: none !important;

    margin-bottom: 0 !important;

    & .navbar-header {
        background-color: @blue;

        padding: 10px 0;
        position: relative;
    }

    & button {
        background-color: transparent !important;
        border-color: white !important;
        border-radius: 4px !important;
        color: @blue;

        margin-right: 0 !important;
        padding-bottom: 9px;
        position: absolute !important;
        right: 0;
        top: 10px;

        transition:
            background-color @openSpeed linear,
            border-radius @openSpeed linear,
            padding-bottom @openSpeed linear;

        &.opened {
            background-color: white !important;
            border-radius: 4px 4px 0 0 !important;
            
            padding-bottom: 32px;

            transition:
                background-color @openSpeed linear,
                border-radius @openSpeed linear,
                padding-bottom @openSpeed linear;

            & .icon-bar {
                background-color: @blue !important;

                position: relative;

                transition: background-color @openSpeed linear;

                &.bar1 {
                    top: 6px;
                    transform: rotateZ(45deg);

                    transition:
                        top @openSpeed linear,
                        transform @openSpeed linear;
                }

                &.bar2 {
                    transform: rotateZ(-45deg);

                    transition: transform @openSpeed linear;
                }

                &.bar3 {
                    background-color: white !important;
                    opacity: 0;

                    transition:
                        background-color @openSpeed linear,
                        opacity @openSpeed linear;
                }
            }
        }

        & .icon-bar {
            background-color: white !important;
            display: block;

            position: relative;
            
            transition: background-color @openSpeed linear;

            &.bar1 {
                transition:
                    top @openSpeed linear,
                    transform @openSpeed linear;
            }
            &.bar2 { transition: transform @openSpeed linear; }
            &.bar3 {
                transition:
                    background-color @openSpeed linear,
                    opacity @openSpeed linear;
            }
        }

        & i {
            transform: rotateZ(0deg);

            transition: transform @openSpeed linear;

            &.opened {
                transform: rotateZ(180deg);
                transition: transform @openSpeed linear;
            }
        }
    }
}

blockquote {
    background-color: @quoteBg;
    border-color: @orange;
    box-shadow: 2px 2px 10px 0px @shadow;
    
    margin: 10px 0;
    padding: 15px 25px 15px 40px;
    position: relative;
    
    font-size: 14px;
    font-style: italic;
    quotes: "\201C""\201D";
    text-align: justify;

    &::before {
        color: @quote;
        content: open-quote;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 4em;
        font-weight: bold;

        position: absolute;
        left: 0px;
        top: -10px;
    }
    
    &::after { content: ""; }

    & p { font-style: italic; }

    & .author {
        font-style: normal;
        text-align: right;
    }
}

ul {
    padding-left: 0;

    li:not(.menu) {
        margin: 0;
        padding: 3px 0 3px 40px;
        list-style: none;
        background-image: url("../images/margareta.png");
        background-repeat: no-repeat;
        background-position: left 10px;
        background-size: 30px;
    }
}

figure {
    text-align: center;

    &.portrait {
        max-width: 250px;

        &.none { float: none; }

        &.left {
            float: left;
            margin-right: 15px;
        }
    
        &.right {
            float: right;
            margin-left: 15px;
        }   
    }

    &.landscape {
        max-height: 250px;

        &.none { float: none; }

        &.left {
            float: left;
            margin-right: 15px;
        }
    
        &.right {
            float: right;
            margin-left: 15px;
        }
    }

    & figcaption {
        font-size: 12px;
        margin: 5px 0 5px;

        width: 100%;
    }
}

.video {
    display: block;

    margin: 0 auto;
    padding: 35px 10px 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &-container {
        background-color: @blue;
        border-radius: 5px;
        
        margin: 0 auto 30px;
        padding: 10px;
        padding-bottom: 56.25%;
        position: relative;
        width: 80%;
        height: 0;
    }

    &-title {
        color: white;

        font-size: 18px;
        text-align: left;

        margin: 0;
        padding-bottom: 5px;
    }
}

button.button-link {
    background-color: @blue;
    border-color: @blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;

    font-size: 16px;

    margin: 10px 0;
    padding: 12px 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    transition: background-color 0.2s linear;

    &:hover {
        background-color: @bluntBlue;
        border-color: @bluntBlue;

        text-decoration: none;

        transition: background-color 0.2s linear;
    }
}

img.tm-thumbnail {
    background-color: white;
    border: 1px solid @blue;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px @shadow;

    max-height: 250px;
    padding: 5px;

    &:hover {
        background-color: @blue;
        cursor: pointer;
    }
}

main {
    /* logo vízjel */
    background-color: white;
    background-image: url(../images/logo_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    border-radius: 0 0 25px 25px;

    padding: 10px 20px 15px;
    position: relative;
    min-height: 300px;

    & p {
        text-align: justify;

        margin: 0 0 15px;
    }
}

footer {
    color: white;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
}
/*** END OF Common ***/


/*** xs ***/
@media screen and (max-width: 767px) {

    body { font-size: 16px; }

    header {
        display: none;

        text-align: center;

        min-height: 100px;
        position: relative;
    }

    nav {
        & #menu-logo {
            display: initial;

            float: left;
            height: 50px;
            margin: 5px 0 0 5px;
        }

        & .tm-main-title {
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 165px;
            max-width: 330px;
            transform: translate(-50%, -50%);
            width: 55%;
        }

        & div {
            .navbar-collapse {
                border-color: white !important;
                border-top: none !important;
                box-shadow: none !important;
                overflow: hidden;

                &.collapsing,
                &.collapse {
                    background-color: @blue;

                    padding-bottom: 10px;
        
                    &.in {
                        background-color: @blue;
                        overflow-y: hidden !important;
                    }
                }
            }
        }
    
        & ul {
            margin: 0 -15px !important;
    
            & > .active > a {
                background-color: @orange !important;
                box-shadow: 1px 1px 25px 0px @brown inset;
                color: @darkBrown !important;

                & .inner-caption {
                    display: inline-block;

                    max-width: 60vw;
                }

                & img {
                    height: 45px;
                    position: absolute;
                    top: 53%;
                    transform: translateY(-50%);
    
                    &.menu-flower-left {
                        opacity: 1;

                        float: left;
                        left: 5px;
                        transform: translateY(-50%) rotateZ(-20deg);
                    }
    
                    &.menu-flower-right {
                        opacity: 1;

                        float: right;
                        right: 5px;
                        transform: translateY(-50%) scaleX(-1) rotateZ(-20deg);
                    }
                }
            }

            & li {
                &::after { clear: both; }

                &:first-of-type a { border-radius: 4px 0 0 0; }

                &:last-of-type a { border-radius: 0 0 4px 4px; }

                & a {
                    background-color: white;
                    color: @blue !important;

                    font-family: "Sriracha";
                    font-size: 1.5em;
                    text-align: center;

                    margin-bottom: 1px;
                    padding: 15px 5px !important;

                    & img {
                        height: 45px;
                        position: absolute;
                        top: 53%;
                        transform: translateY(-50%);
        
                        &.menu-flower-left,
                        &.menu-flower-right { opacity: 0; }
                    }

                    &:hover, &:active {
                        background-color: @orange !important;
                        box-shadow: 1px 1px 25px 0px @brown inset;
                        color: @darkBrown !important;

                        & img {
                            &.menu-flower-left {
                                opacity: 1;
                                
                                float: left;
                                left: 5px;
                                transform: translateY(-50%) rotateZ(-20deg);
                            }

                            &.menu-flower-right {
                                opacity: 1;

                                float: right;
                                right: 5px;
                                transform: translateY(-50%) scaleX(-1) rotateZ(-20deg);
                            }
                        }
                    }
                }
            }
        }
    }

    figure {
        &.portrait {
            max-width: 100%;
    
            &.left {                
                float: none;
                margin-right: 0;
            }
        
            &.right {
                float: none;
                margin-left: 0;
            }
        }
    
        &.landscape {
            max-height: 100%;
    
            &.left {
                float: none;
                margin-right: 0;
            }
        
            &.right {
                float: none;
                margin-left: 0;
            }
        }

        & figcaption { margin: 5px 0 10px; }
    }

    .video {
        &-container {
            width: 100%;
        }
    }

    img.tm-thumbnail {
        &.landscape {
            max-width: 100%;
        }

        &.portrait {
            max-width: 250px;
        }
    
        &:hover {
            background-color: @blue;
            cursor: pointer;
        }
    }

    #tm-navbar-placeholder {
        background: @darkBlue; /* Old browsers */
        background: -moz-linear-gradient(top, @blue 0%, @middleBlue 45%, white 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, @blue 0%, @middleBlue 45%, white 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, @blue 0%, @middleBlue 45%, white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#204080', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
        
        height: 25px;
    }

    main, main p { text-align: left; }
}
/*** END OF xs ***/


/*** sm only ***/
@media screen and (max-width: 992px) {
    .tm-container { border-radius: 0 !important; }
}
/*** END OF sm only ***/


/*** sm, md, lg ***/
@media screen and (min-width: 768px) {
    body { font-size: 14px; }

    .tm-container { border-radius: 0 0 25px 25px; }

    header {
        background-image: url(../images/tmlogo.png);
        background-repeat: no-repeat;
        background-size: 90px;
        background-position: left center;
        display: block;

        text-align: initial;

        min-height: 100px;
        position: relative;

        & .tm-main-title {
            display: block;

            position: absolute;
            top: 58%;
            left: 50%;
            min-width: 400px;
            max-width: 450px;
            transform: translate(-50%, -50%);
            width: 55%;
        }
    }

    nav {
        background-color: @darkBlue !important;
        border-radius: 12px 12px 0 0 !important;

        margin-top: 15px;

        & #menu-logo,
        & .tm-main-title { display: none; }

        & div {
            .navbar-collapse.collapse,
            .collapsing {
                padding: 0;
    
                &.in { overflow-y: visible !important; }
            }
        }
    
        & ul {
            & > .active > a,
            & > .active > a:hover {
                background-color: @darkBlue !important;
                border-radius: 0;
                color: @orange !important;
                border-bottom: 3px solid @orange;

                & img {
                    height: 35px;
                    position: absolute;
    
                    &.menu-flower-left {
                        opacity: 1;

                        top: -15px;
                        left: 50%;
                        transform: translateX(-50%) rotateZ(-20deg);
                    }
                    &.menu-flower-right { display: none; }
                }
            }

            & li {
                &::after { clear: both; }

                & a {
                    border-bottom: 3px solid @darkBlue;
                    color: white !important;

                    font-family: "Sriracha";
                    font-size: 1.3em;
                    text-align: center;
                    
                    margin-right: 15px;
                    padding: 20px 10px 10px !important;

                    transition: border-bottom-color 0.5s linear;

                    & img {
                        height: 35px;
                        position: absolute;
        
                        &.menu-flower-left {
                            opacity: 0;

                            top: -15px;
                            left: 50%;
                            transform: translateX(-50%) rotateZ(-20deg);
                        }
                        &.menu-flower-right { display: none; }
                    }
                
                    &:hover, &:active {
                        color: @orange !important;
                        border-bottom: 3px solid @orange;

                        transition: border-bottom-color 0.5s linear;

                        & img {
                            height: 35px;
                            position: absolute;
            
                            &.menu-flower-left {
                                opacity: 1;

                                top: -15px;
                                left: 50%;
                                transform: translateX(-50%) rotateZ(-20deg);
                            }
                            &.menu-flower-right { display: none; }
                        }
                    }
                }
            }
        }
    }

    #tm-navbar-placeholder {
        background: @darkBlue; /* Old browsers */
        background: -moz-linear-gradient(top, @darkBlue 0%, @middleBlue 45%, white 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, @darkBlue 0%, @middleBlue 45%, white 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, @darkBlue 0%, @middleBlue 45%, white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103060', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
        
        height: 25px;
    }
}
/*** END OF sm, md, lg ***/


/*** Content ***/
#intro {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    
    margin-bottom: 30px;
}

#selfie {
    background-color: white;
    //border: 2px solid @blue;
    box-shadow: 5px 5px 20px 0px grey;
    border-radius: 5px;
    display: block;

    margin: 20px auto;
    padding: 10px;
    height: 250px;
}

#card { // xs - sm, md, lg szétszedni!
    background-color: @darkBlue;
    border-radius: 3px;
    color: white;

    margin: 0 auto;
    padding: 20px;
    width: 400px;

    & .good-wish { font-family: 'Dancing Script', cursive; }
}
/*** END OF Content ***/