/*** Common ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/margareta_field_bg_75.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #103060;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  margin: 0 0 20px;
}
.tm-container {
  background-color: #204080;
}
nav {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important;
}
nav .navbar-header {
  background-color: #204080;
  padding: 10px 0;
  position: relative;
}
nav button {
  background-color: transparent !important;
  border-color: white !important;
  border-radius: 4px !important;
  color: #204080;
  margin-right: 0 !important;
  padding-bottom: 9px;
  position: absolute !important;
  right: 0;
  top: 10px;
  transition: background-color 0.4s linear, border-radius 0.4s linear, padding-bottom 0.4s linear;
}
nav button.opened {
  background-color: white !important;
  border-radius: 4px 4px 0 0 !important;
  padding-bottom: 32px;
  transition: background-color 0.4s linear, border-radius 0.4s linear, padding-bottom 0.4s linear;
}
nav button.opened .icon-bar {
  background-color: #204080 !important;
  position: relative;
  transition: background-color 0.4s linear;
}
nav button.opened .icon-bar.bar1 {
  top: 6px;
  transform: rotateZ(45deg);
  transition: top 0.4s linear, transform 0.4s linear;
}
nav button.opened .icon-bar.bar2 {
  transform: rotateZ(-45deg);
  transition: transform 0.4s linear;
}
nav button.opened .icon-bar.bar3 {
  background-color: white !important;
  opacity: 0;
  transition: background-color 0.4s linear, opacity 0.4s linear;
}
nav button .icon-bar {
  background-color: white !important;
  display: block;
  position: relative;
  transition: background-color 0.4s linear;
}
nav button .icon-bar.bar1 {
  transition: top 0.4s linear, transform 0.4s linear;
}
nav button .icon-bar.bar2 {
  transition: transform 0.4s linear;
}
nav button .icon-bar.bar3 {
  transition: background-color 0.4s linear, opacity 0.4s linear;
}
nav button i {
  transform: rotateZ(0deg);
  transition: transform 0.4s linear;
}
nav button i.opened {
  transform: rotateZ(180deg);
  transition: transform 0.4s linear;
}
blockquote {
  background-color: #fff0d0;
  border-color: #ffb600;
  padding: 10px 25px 10px 40px;
  position: relative;
  font-size: 14px;
  font-style: italic;
  margin: 10px 0;
  quotes: "\201C" "\201D";
  text-align: justify;
}
blockquote::before {
  color: #999;
  content: open-quote;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: -10px;
}
blockquote::after {
  content: "";
}
blockquote p {
  font-style: italic;
}
blockquote .author {
  font-style: normal;
  text-align: right;
}
.tm-thumbnail-link {
  background-color: white;
  border: 1px solid #204080;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px #999;
}
.tm-thumbnail-link.left {
  float: left;
  margin-right: 20px;
}
.tm-thumbnail-link.right {
  float: right;
  margin-left: 20px;
}
.tm-thumbnail-link:hover {
  background-color: #204080;
}
img.tm-thumbnail {
  max-height: 250px;
  padding: 5px;
}
main {
  background-color: white;
  /* logo vízjel */
  background-image: url(../images/logo_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px;
  border-radius: 0 0 25px 25px;
  padding: 10px 20px 15px;
  min-height: 300px;
}
main p {
  text-align: justify;
}
footer {
  color: white;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
}
/*** END OF Common ***/
/*** xs ***/
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  header {
    display: none;
    min-height: 100px;
    position: relative;
    text-align: center;
  }
  nav #menu-logo {
    display: initial;
    float: left;
    height: 50px;
    margin: 5px 0 0 5px;
  }
  nav .tm-main-title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    min-width: 165px;
    max-width: 330px;
  }
  nav div .navbar-collapse {
    border-color: white !important;
    border-top: none !important;
    box-shadow: none !important;
  }
  nav div .navbar-collapse.collapsing,
  nav div .navbar-collapse.collapse {
    background-color: #204080;
    padding-bottom: 10px;
  }
  nav div .navbar-collapse.collapsing.in,
  nav div .navbar-collapse.collapse.in {
    background-color: #204080;
    overflow-y: visible !important;
  }
  nav ul {
    margin: 0 -15px !important;
  }
  nav ul > .active > a {
    background-color: #ffb600 !important;
    box-shadow: 1px 1px 25px 0px #994422 inset;
    color: #66270f !important;
  }
  nav ul > .active > a .inner-caption {
    display: inline-block;
    max-width: 60vw;
  }
  nav ul > .active > a img {
    height: 45px;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
  }
  nav ul > .active > a img.menu-flower-left {
    float: left;
    left: 5px;
    opacity: 1;
    transform: translateY(-50%) rotateZ(-20deg);
  }
  nav ul > .active > a img.menu-flower-right {
    float: right;
    right: 5px;
    opacity: 1;
    transform: translateY(-50%) scaleX(-1) rotateZ(-20deg);
  }
  nav ul li::after {
    clear: both;
  }
  nav ul li:first-of-type a {
    border-radius: 4px 0 0 0;
  }
  nav ul li:last-of-type a {
    border-radius: 0 0 4px 4px;
  }
  nav ul li a {
    background-color: white;
    color: #204080 !important;
    font-family: "Sriracha";
    font-size: 1.5em;
    margin-bottom: 1px;
    padding: 15px 5px !important;
    text-align: center;
  }
  nav ul li a img {
    height: 45px;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
  }
  nav ul li a img.menu-flower-left,
  nav ul li a img.menu-flower-right {
    opacity: 0;
  }
  nav ul li a:hover,
  nav ul li a:active {
    background-color: #ffb600 !important;
    box-shadow: 1px 1px 25px 0px #994422 inset;
    color: #66270f !important;
  }
  nav ul li a:hover img.menu-flower-left,
  nav ul li a:active img.menu-flower-left {
    float: left;
    left: 5px;
    opacity: 1;
    transform: translateY(-50%) rotateZ(-20deg);
  }
  nav ul li a:hover img.menu-flower-right,
  nav ul li a:active img.menu-flower-right {
    float: right;
    right: 5px;
    opacity: 1;
    transform: translateY(-50%) scaleX(-1) rotateZ(-20deg);
  }
  #tm-navbar-placeholder {
    background: #103060;
    /* Old browsers */
    background: -moz-linear-gradient(top, #204080 0%, #2989d8 45%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #204080 0%, #2989d8 45%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #204080 0%, #2989d8 45%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#204080', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    height: 25px;
  }
  main,
  main p {
    text-align: left;
  }
}
/*** END OF xs ***/
/*** sm, md, lg ***/
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
  .tm-container {
    border-radius: 0 0 25px 25px;
  }
  header {
    background-image: url(../images/tmlogo.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
    display: block;
    min-height: 100px;
    position: relative;
    text-align: initial;
  }
  header .tm-main-title {
    display: block;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    min-width: 400px;
    max-width: 450px;
  }
  nav {
    background-color: #103060 !important;
    border-radius: 12px 12px 0 0 !important;
    margin-top: 15px;
  }
  nav #menu-logo,
  nav .tm-main-title {
    display: none;
  }
  nav div .navbar-collapse.collapse,
  nav div .collapsing {
    padding: 0;
  }
  nav div .navbar-collapse.collapse.in,
  nav div .collapsing.in {
    overflow-y: visible !important;
  }
  nav ul > .active > a,
  nav ul > .active > a:hover {
    background-color: #103060 !important;
    border-radius: 0;
    color: #ffb600 !important;
    border-bottom: 3px solid #ffb600;
  }
  nav ul > .active > a img,
  nav ul > .active > a:hover img {
    height: 35px;
    position: absolute;
  }
  nav ul > .active > a img.menu-flower-left,
  nav ul > .active > a:hover img.menu-flower-left {
    opacity: 1;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotateZ(-20deg);
  }
  nav ul > .active > a img.menu-flower-right,
  nav ul > .active > a:hover img.menu-flower-right {
    display: none;
  }
  nav ul li::after {
    clear: both;
  }
  nav ul li a {
    border-bottom: 3px solid #103060;
    color: white !important;
    font-family: "Sriracha";
    font-size: 1.3em;
    margin-right: 15px;
    padding: 20px 10px 10px !important;
    text-align: center;
    transition: border-bottom-color 0.5s linear;
  }
  nav ul li a img {
    height: 35px;
    position: absolute;
  }
  nav ul li a img.menu-flower-left {
    opacity: 0;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotateZ(-20deg);
  }
  nav ul li a img.menu-flower-right {
    display: none;
  }
  nav ul li a:hover,
  nav ul li a:active {
    color: #ffb600 !important;
    border-bottom: 3px solid #ffb600;
    transition: border-bottom-color 0.5s linear;
  }
  nav ul li a:hover img,
  nav ul li a:active img {
    height: 35px;
    position: absolute;
  }
  nav ul li a:hover img.menu-flower-left,
  nav ul li a:active img.menu-flower-left {
    opacity: 1;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotateZ(-20deg);
  }
  nav ul li a:hover img.menu-flower-right,
  nav ul li a:active img.menu-flower-right {
    display: none;
  }
  #tm-navbar-placeholder {
    background: #103060;
    /* Old browsers */
    background: -moz-linear-gradient(top, #103060 0%, #2989d8 45%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #103060 0%, #2989d8 45%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #103060 0%, #2989d8 45%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103060', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    height: 25px;
  }
}
/*** END OF sm, md, lg ***/
/*** Content ***/
#intro {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.portrait {
  background-color: white;
  box-shadow: 5px 5px 20px 0px grey;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  height: 250px;
  display: block;
}
#card {
  background-color: #103060;
  border-radius: 3px;
  color: white;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}
#card .good-wish {
  font-family: 'Dancing Script', cursive;
}
/*** END OF Content ***/
