/* CSS document */

//@blue: #263e6a;
@blue: #204080;

@font-face {
    font-family: "petit";
    src: url(../fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

html {
    // height: 100vh;
    // min-height: 100%;
    margin: 0;
	padding: 0;
}

body {
    background-image: url(../images/bgclouds.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //min-height: 100vh;
    margin: 0;
    padding: 0;
    //font-size: 1vw;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    margin-top: 0;
}

h2 {
    font-size: 28px;
}

.tm-container {
    background-color: @blue;
    //min-height: 100vh;
}

header {
    //background-color: #990099;
    min-height: 100px;
    color: #ffffff;

    div#tm-logo {
        //background-color: #990000;
        min-height: 100px;
        padding: 5px 0;
        position: relative;
        //text-align: center;
    }

    div#tm-title {
        //background-color: orange;
        padding: 0 10px;
    }
}

// .tm-logo {
//     max-height: 100px;
//     max-width: 100px;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 100%;
// }

// &.tm-portrait {
//     border: 3px solid #ffffff;
//     border-radius: 50%;
//     max-height: 120px;
//     max-width: 120px;
//     width: 100%;
// }

.navbar {
    border-radius: 0;
    margin-bottom: 10px;

    & .nav {
        &.navbar-nav li {
            //font-family: "petit";
            //font-size: 10vw;
            font-weight: bold;

            a {
                //background-color: #1060f0;
                background-color: white;
                transition: background-color 0.75s linear, color 0.75s linear;
                color: @blue;
            
                &:hover {
                    background-color: @blue; /*1040f0*/
                    transition: background-color 0.25s linear, color 0.25s linear;
                    color: white;
                }
            }
        }
    }
}

main {
    background-color: #ffffff;
    background-image: url(../images/margareta_20.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 200px;
    padding: 15px;
    min-height: 100%;
}

footer {
    //background-color: #FF9900;
    //background-image: url(../images/margareta.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px;
    color: #ffffff;
    line-height: 40px;
    min-height: 80px;
    text-align: center;
}

/* xs */
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }

    header {
        text-align: center;
    }
}

/* sm, md, lg */
@media (min-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        text-align: initial;

        .tm-logo {
            max-height: 100px;
            max-width: 100px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }
}