/* CSS document */
@font-face {
  font-family: "petit";
  src: url(../fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/bgclouds.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
h1 {
  font-size: 30px;
  margin-top: 0;
}
h2 {
  font-size: 28px;
}
.tm-container {
  background-color: #204080;
}
header {
  min-height: 100px;
  color: #ffffff;
}
header div#tm-logo {
  min-height: 100px;
  padding: 5px 0;
  position: relative;
}
header div#tm-title {
  padding: 0 10px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 10px;
}
.navbar .nav.navbar-nav li {
  font-weight: bold;
}
.navbar .nav.navbar-nav li a {
  background-color: white;
  transition: background-color 0.75s linear, color 0.75s linear;
  color: #204080;
}
.navbar .nav.navbar-nav li a:hover {
  background-color: #204080;
  /*1040f0*/
  transition: background-color 0.25s linear, color 0.25s linear;
  color: white;
}
main {
  background-color: #ffffff;
  background-image: url(../images/margareta_20.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 200px;
  padding: 15px;
  min-height: 100%;
}
footer {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80px;
  color: #ffffff;
  line-height: 40px;
  min-height: 80px;
  text-align: center;
}
/* xs */
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  header {
    text-align: center;
  }
}
/* sm, md, lg */
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  header {
    text-align: initial;
  }
  header .tm-logo {
    max-height: 100px;
    max-width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}
